useDynLib(nbddm, .registration=TRUE)
useDynLib(nbddm_TMBExports)
importFrom(TMB,MakeADFun)
exportPattern("^[[:alpha:]]+")

#************** Imports ****************************

import("stats", "utils", "mvtnorm", "numDeriv", "fastGHQuad", 
	"nloptr", "foreach", "MCMCpack")

#************** Suggests ***************************


#************** Exports ***************************


#************** S3 METHODS ************************

